header{
    height: 10vh;
    width: 100%;
    border-bottom: 1px darkblue solid;
    background: linear-gradient(90deg, rgba(7,3,82,1) 0%, rgba(8,8,190,1) 45%, rgba(64,160,180,1) 100%);
    color: white;
}

#consulta{
    height: 20vh;
    border: 1px white transparent;
    background: rgb(103,103,103);
background: linear-gradient(0deg, rgba(103,103,103,1) 0%, rgba(179,179,179,1) 30%, rgba(198,198,198,1) 56%, rgba(217,217,217,1) 82%);
}

#ingreso{
    height: 20vh;
    border: 1px white transparent;
    background: rgb(103,103,103);
background: linear-gradient(0deg, rgba(103,103,103,1) 0%, rgba(179,179,179,1) 30%, rgba(198,198,198,1) 56%, rgba(217,217,217,1) 82%);
margin-right: 15vw;
margin-left: 15vw;
}

#retiro{
    height: 20vh;
    border: 1px white transparent;
    background: rgb(103,103,103);
background: linear-gradient(0deg, rgba(103,103,103,1) 0%, rgba(179,179,179,1) 30%, rgba(198,198,198,1) 56%, rgba(217,217,217,1) 82%);
}


#consultaSaldo{
    display: none;
}

#deposito{
    display: none;
}

#retiroD{
    display: none;
}

#alerta{
    display: none;
}

#succes{
    display: none;
}

#alerta2{
    display: none;
}

#succes2{
    display: none;
}